ul {
    display: flex;
    justify-content: flex-end;
    background-color:#D5E6F2;
    margin: 0;
    margin-top:-9px;
    padding: 10px 0px 10px 0px;
}

li {
    display: flex;
    float: left;
    padding-right: 5px;
}