ul {
    display: flex;
    justify-content: flex-end;
    background-color:#ECF9FF;
    margin: 0;
    padding: 10px 0px 10px 0px;
}

li {
    display: flex;
    float: left;
    padding-right: 5px;
}